/* Modal */
.modal-dialog { max-width: 70vw; }
.modal-content { height: 50vh; overflow: hidden; }
@media (min-width: 576px) and (max-width: 991.98px) {
  .modal-dialog { max-width: 80vw; }
  .modal-content { height: 60vh; }
}
@media (max-width: 575.98px) {
  .modal-dialog { max-width: 95vw; }
  .modal-content { height: 80vh; }
}
.crud_title {
    width: 100%;
    border-bottom: solid 4px #C0C0C0;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.dropdown-menu {
    min-width: max-content; /* largeur = au moins la largeur du contenu */
    white-space: nowrap;    /* empêche les retours à la ligne */
}

/* Positionner les sous-menus à droite du parent */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -0.25rem;
}
